In [19]:
import pandas as pd
import os
import glob
import csv

### File aquiration template

In [ ]:
# Source file cleaning
# Fill in the source number
source_number = 2
# Fill in your own file path, have the folder containing the csv files be called "Source_{number}"
# Make sure to change any \ to / to avoid errors
source_folder_path = f"C:/Users/Sverre/Documents/UNI/2amd20/Sources_compiled/Source_{source_number}/"

# Open the source folder to take all CSV's from
csv_files_Source = glob.glob(os.path.join(f"{source_folder_path}", "*.csv"))

# Open the file to store the new CSV in
compiled_file_source = open(f"{source_folder_path}/Source_{source_number}_full_converted_raw.csv", "a")
# Start the CSV writer
compiled_file_source_writer = csv.writer(compiled_file_source)

# Go through all raw source files in the provided folder
for file_path in csv_files_Source:
    raw_file = open(file_path, "r")
    # Split the input file in lines
    raw_file_lines = raw_file.readlines()
    for line in raw_file_lines:
        # Split each line on the column split symbol ";"
        raw_line_split = line.split(';')
        # Add the split row to the new file
        compiled_file_source_writer.writerow(raw_line_split)
    raw_file.close()
compiled_file_source.close()

# Pandas sanity check, open the just created file
pd.read_csv(f"{source_folder_path}/Source_{source_number}_full_converted_raw.csv")

### Source 1 preprocessing

### Source 2 preprocessing

In [136]:
# Source file cleaning
source_number = 2
source_folder_path = f"C:/Users/Sverre/Documents/UNI/2amd20/Sources_compiled/Source_{source_number}/"
# Open the source folder to take all CSV's from
csv_files_Source = glob.glob(os.path.join(f"{source_folder_path}", "*.csv"))

# Open the file to store the new CSV in
compiled_file_source = open(f"{source_folder_path}/Source_{source_number}_full_converted_raw.csv", "a")
# Start the CSV writer
compiled_file_source_writer = csv.writer(compiled_file_source)

# Go through all raw source files in the provided folder
for file_path in csv_files_Source:
    raw_file = open(file_path, "r")
    # Split the input file in lines
    raw_file_lines = raw_file.readlines()
    for line in raw_file_lines:
        # Split each line on the column split symbol ";"
        raw_line_split = line.split(';')
        # Add the split row to the new file
        compiled_file_source_writer.writerow(raw_line_split)
    raw_file.close()
compiled_file_source.close()

In [138]:
# Pandas sanity check, open the just created file
pd.read_csv(f"{source_folder_path}/Source_{source_number}_full_converted_raw.csv")

,Perioden,Regio's,Bevolking/Bevolkingssamenstelling op 1 januari/Totale bevolking (aantal),Bevolking/Bevolkingssamenstelling op 1 januari/Geslacht/Mannen (aantal),Bevolking/Bevolkingssamenstelling op 1 januari/Geslacht/Vrouwen (aantal),Bevolking/Bevolkingssamenstelling op 1 januari/Leeftijd/Leeftijdsgroepen/Jonger dan 5 jaar (aantal),Bevolking/Bevolkingssamenstelling op 1 januari/Leeftijd/Leeftijdsgroepen/5 tot 10 jaar (aantal),Bevolking/Bevolkingssamenstelling op 1 januari/Leeftijd/Leeftijdsgroepen/10 tot 15 jaar (aantal),Bevolking/Bevolkingssamenstelling op 1 januari/Leeftijd/Leeftijdsgroepen/15 tot 20 jaar (aantal),Bevolking/Bevolkingssamenstelling op 1 januari/Leeftijd/Leeftijdsgroepen/20 tot 25 jaar (aantal),...,Onderwijs/Naar woongemeente/Gediplomeerden/Wo master/doctoraal (aantal),"Arbeid/Banen van werknemers, relatief/A Landbouw, bosbouw en visserij (%)","Arbeid/Banen van werknemers, relatief/B-F Nijverheid en energie (%)","Arbeid/Banen van werknemers, relatief/G-N Commerciële dienstverlening (%)","Arbeid/Banen van werknemers, relatief/O-U Niet-commerciële dienstverlening (%)",Nabijheid voorzieningen/Gezondheid/Afstand tot huisartsenpraktijk (km),Nabijheid voorzieningen/Gezondheid/Aantal huisartsenpraktijken binnen 3 km (aantal),Nabijheid voorzieningen/Gezondheid/Afstand tot huisartsenpost (km),Nabijheid voorzieningen/Gezondheid/Afstand tot ziekenhuis (km),Nabijheid voorzieningen/Gezondheid/Aantal ziekenhuizen binnen 20 km (aantal)\r\n
0,2019,Aa en Hunze,25386.0,12659.0,12727.0,922.0,1174.0,1366.0,1579.0,1031.0,...,8.0,1.0,10.0,45.0,44.0,"2,4","1,3","11,1","11,1","1,4\r\n"
1,2020,Aa en Hunze,25445.0,12708.0,12737.0,946.0,1160.0,1354.0,1545.0,1079.0,...,NaN,1.0,8.0,43.0,47.0,"2,4","1,1","11,1","11,1","1,4\r\n"
2,2021,Aa en Hunze,25399.0,12709.0,12690.0,937.0,1137.0,1309.0,1508.0,1103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r\n
3,2019,Aalburg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r\n
4,2020,Aalburg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r\n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2173,2020,Zwijndrecht,44737.0,21694.0,23043.0,2348.0,2398.0,2452.0,2509.0,2408.0,...,NaN,0.0,20.0,55.0,25.0,"0,7","6,5","6,5","2,5","8,4\r\n"
2174,2021,Zwijndrecht,44775.0,21754.0,23021.0,2350.0,2370.0,2520.0,2466.0,2420.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r\n
2175,2019,Zwolle,127497.0,62794.0,64703.0,7190.0,7776.0,7708.0,7754.0,8586.0,...,122.0,0.0,10.0,48.0,42.0,1,"7,7","4,2","4,2",1\r\n
2176,2020,Zwolle,128840.0,63488.0,65352.0,7063.0,7754.0,7833.0,7785.0,8714.0,...,NaN,0.0,10.0,47.0,42.0,"0,9","7,2","4,2","4,2",1\r\n
2177,2021,Zwolle,129840.0,63944.0,65896.0,7031.0,7537.0,7851.0,7850.0,8887.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r\n

### Source 3 preprocessing

### Source 4 preprocessing

### Source 5 preprocessing

### Source 6 preprocessing

### Source 7 preprocessing